.main_menu{
  float: right;

  .menu_link{
    position: relative;
    font-size: 16px;
    font-family: ProximaNovaSemiBold;
  }

  /** подсвечиваем ссылка */
  .menu_link__active:after, .menu_link:hover:after{
    content: "";
    display: block;
    background: url(../images/pointer.png) 50% 100% no-repeat;
    height: 10px;
    position: absolute;
    width: 10px;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  /* прячем активную ссылку */
  &:hover .menu_link__active:after{
    background: none;
  }
}
