.button{
  margin: 50px auto;
  display: block;
  background: #86C840;
  border: none;
  border-radius: 3px;
  padding: 12px 55px 12px 30px;
  color: white;
  text-shadow: 0 1px 2px #57B227;
  position: relative;
  font-size: 16px;
}
.button:after{
  content: "";
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: icons-sprite-height(arrow_img);
  width: icons-sprite-width(arrow_img);
  @include icons-sprite(arrow_img);
}