.item{
  display: block;
  float: left;
  margin-right: 10px;
}

.item_preview{
  height: 225px;
  width: 300px;
  background: rgb(238,238,238);
  border-radius: 5px;

  position: relative;
}

.item_bar_wrapper{
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item_bar{
  background: rgb(64,64,64);
  color: white;
  height: 40px;
  padding: 15px 5px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: ProximaNovaLight;
  display: none;
}

.item_preview:hover .item_bar{
  display: block;
}

.bar_date{
  float: left;
}

.bar_indicators{
  float: right;
}

.indicator{
  margin-left:20px;
}

.item_title{
  padding: 15px 20px;

  .top_title{
    font-size: 14px;
  }
  .bottom_title{
    font-size: 12px;
  }
}

.btn_arrow{
  height: 30px;
  width: 30px;
  background: rgb(134, 200, 64) url(../images/arrow_img.png) 50% 50% no-repeat;
  display: block;
  border-radius: 15px;
  float: right;
}

.item_info{
  float: left;
}