.content_title{
  border-left: 6px solid rgb(134, 200, 64);
  padding-left: 18px;

  margin-top: 55px;
  margin-bottom: 55px;
}

.top_title{
  font-size: 26px;
  font-family: NexaSlabXBold;
}
.bottom_title{
  font-size: 10px;
  color: rgb(170, 170, 170);
  font-family: ProximaNovaLight;
}