.home_icon{
  display: block;
  width: 13px;
  height: 12px;
  background: url(../images/icons/home.png) 50% 50% no-repeat;
}

.glyphicon:before{
  position: relative;
  left: -5px;
}

.glyphicon_comment:before{
  content: url(../images/icons/comment.png)
}

.glyphicon_download:before{
  content: url(../images/icons/download.png)
}

.glyphicon_eye:before{
  content: url(../images/icons/eye.png)
}