@import "compass/css3";
@import "compass/utilities";

.tiles_row{
  @include pie-clearfix;
}

.tile{
  width: 300px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
  position: relative;

}

.tile_preview{overflow: hidden;
  height: 225px;
  width: 300px;
  background: #EEEEEE;
  border-radius: 5px;
  position: relative;
  &:hover{
    z-index: 2;
    .tile_preview_image{
      //transform: scale(1.55);
    }
  }
}

.tile_preview_image{position: relative;top: 0;left: 0;
  width: 300px;
  height: 225px;
  border-radius: 5px;
  transition: all .4s;
}

$padding_bar: 5px;
.tile_bar{
  padding: $padding_bar;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.tile_bar_in{
  line-height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 38px;
  font-size: 12px;
  font-family: ProximaNovaLight;
  bottom: -(38px + $padding_bar + 3px);
  position: relative;
  border-radius: 0 0 2px 2px;

  @include transition-property(bottom);
  @include transition-duration(.1s);
  @include transition-delay(.1s);
  @include transition-timing-function(ease-in);
}

// поведение
.tile_preview:hover .tile_bar_in{
  bottom: 0;
}

.tile_bar_date{
  display: inline;
  margin-left: 10px;
}

.tile_bar_indicators{
  margin-right: 14px;
  display: inline;
  float: right;
}

.tile_indicator{
  display: inline;
  float: left;
  margin-left: 16px;
}

.tile_title{
  position: relative;
  @include clearfix;

  //for btn
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 0 (32px + 2*12px) 0 15px;
}

.tile_info{
  float: left;
}

.tile_info_top_title{
  font-size: 16px;
  font-family: NexaSlabXBold;
}

.tile_info_bottom_title{
  font-size: 14px;
  font-family: ProximaNovaSemiBold;
  color: #AAAAAA;
  margin-top: 8px;
}

.tile_btn_arrow{
  background-color: #86C840;
  display: block;
  border-radius: 16px;
  float: right;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;

  &:before{
    content: "";
    display: block;
    height: icons-sprite-height(arrow_circle_btn);
    width: icons-sprite-width(arrow_circle_btn);
    @include icons-sprite(arrow_circle_btn);
    margin-left: 11px;// смещение как в макете
    margin-top: 6px;// смещение как в макете
  }
  &:hover:before{
    margin-left: 12px;
    transition: margin-left .1s ease-out;
  }

}