.menu{
  padding: 0;
}

.menu_item{
  /** Removes the bullets */
  list-style-type: none;

  /** remove browser default settings */
  margin: 0;
  padding: 0;
  display: inline-block;

  /** fix inline space todo */
  margin-right: 40px + (-5px);
}

.menu_item:last-of-type{
  margin-right: 0;
}

.menu_link{
  text-decoration: none;
  display: block;
  color: black;
}

.menu_item__interval_small{
  margin-right: 30px;
}

.menu_link_semiBold{
  font-family: ProximaNovaSemiBold;
}