@import "compass/utilities/sprites";

.menu_header{
  float: right;

  .menu_link{
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-family: NexaSlabXBold;
  }

  /** подсвечиваем ссылка */
  .menu_link__active:after, .menu_link:hover:after{
    content: "";
    display: block;
    height: icons-sprite-height(pointer);
    width: icons-sprite-width(pointer);
    @include icons-sprite(pointer);
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  /* прячем активную ссылку */
  &:hover .menu_link__active:after{
    background: none;
  }
}
