@font-face {
  font-family: NexaSlabXBold;
  src: url(../fonts/Nexa_Slab_W01_Bold.otf)
}
@font-face {
  font-family: ProximaNovaLight;
  src: url(../fonts/proximanova-light.otf)
}
@font-face {
  font-family: ProximaNovaSemiBold;
  src: url(../fonts/proximanova-semibold.otf)
}
@font-face {
  font-family: Pompadur; /* Имя шрифта */
  src: url(../fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
}