@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

p {
  margin: 0;
}

@font-face {
  font-family: NexaSlabXBold;
  src: url(../fonts/Nexa_Slab_W01_Bold.otf);
}
@font-face {
  font-family: ProximaNovaLight;
  src: url(../fonts/proximanova-light.otf);
}
@font-face {
  font-family: ProximaNovaSemiBold;
  src: url(../fonts/proximanova-semibold.otf);
}
@font-face {
  font-family: Pompadur;
  /* Имя шрифта */
  src: url(../fonts/pompadur.ttf);
  /* Путь к файлу со шрифтом */
}
.icons-sprite, .icons-comment, .icons-download, .icons-eye, .icons-home, .icon_eye:before, .icon_comment:before, .icon_download:before {
  background-image: url('../images/icons-see0c58930e.png');
  background-repeat: no-repeat;
}

.icons-comment {
  background-position: 0 0;
}

.icons-download {
  background-position: 0 -11px;
}

.icons-eye {
  background-position: 0 -22px;
}

.icons-home {
  background-position: 0 -34px;
}

.home_icon {
  display: block;
  width: 13px;
  height: 12px;
  background: url(../images/icons/home.png) 50% 50% no-repeat;
}

.icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.icon_eye:before {
  height: 12px;
  width: 21px;
  background-position: 0 -22px;
}

.icon_comment:before {
  height: 11px;
  width: 13px;
  background-position: 0 0;
}

.icon_download:before {
  height: 11px;
  width: 13px;
  background-position: 0 -11px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.menu-list {
  padding: 0;
}

.menu_item {
  /** Removes the bullets */
  list-style-type: none;
  /** remove browser default settings */
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 40px;
  /** fix inline space todo */
  margin-right: -5px;
}

.menu_item:first-of-type {
  margin-left: 0;
}

.menu_item:last-of-type {
  margin-right: 0;
}

.menu_link {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: black;
  font-family: ProximaNovaSemiBold;
}

.content_title {
  border-left: 6px solid #86c840;
  padding-left: 18px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.top_title {
  font-size: 36px;
  font-family: ProximaNovaLight;
}

.bottom_title {
  font-size: 16px;
  color: #aaaaaa;
  font-family: ProximaNovaLight;
}

.quote_bg {
  background: #f1f1f1;
  width: 200%;
  margin-left: -50%;
  overflow: hidden;
}

.quote_wrapper {
  width: 50%;
  margin: auto;
}

.quote {
  text-align: center;
  font-size: 28px;
  font-family: ProximaNovaLight;
  /** место под картинку и отступ */
  padding: 40px 105px;
}

.quotes {
  position: relative;
}
.quotes:before, .quotes:after {
  content: "";
  display: inline-block;
  background: #86c840 url(../images/quote_img.png) 50% 50% no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 23px;
}
.quotes:before {
  top: 45px;
  left: 0;
}
.quotes:after {
  bottom: 47px;
  right: 0;
  transform: rotate(180deg);
}

.item {
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.item_preview {
  height: 225px;
  width: 300px;
  background: #eeeeee;
  border-radius: 5px;
  position: relative;
}

.item_bar_wrapper {
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.item_bar {
  line-height: 40px;
  background: #404040;
  color: white;
  height: 38px;
  font-size: 12px;
  font-family: ProximaNovaLight;
  border-radius: 0 0 2px 2px;
  border-left: 1px solid #5f5f5f;
  border-bottom: 1px solid #5f5f5f;
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  -webkit-transition: bottom .1s ease-in 0.1s;
  -moz-transition: bottom .1s ease-in 0.1s;
  -o-transition: bottom .1s ease-in 0.1s;
  transition: bottom .1s ease-in 0.1s;
}

.bar_date {
  display: inline;
  margin-left: 10px;
}

.bar_indicators {
  margin-right: 14px;
  display: inline;
  float: right;
}

.indicator {
  display: inline;
  float: left;
  margin-left: 16px;
}

.item_title {
  padding: 14px 20px;
}
.item_title .top_title {
  font-size: 16px;
}
.item_title .bottom_title {
  font-size: 14px;
}

.btn_arrow {
  height: 30px;
  width: 30px;
  background: #86c840 url(../images/arrow_img.png) 50% 50% no-repeat;
  display: block;
  border-radius: 15px;
  float: right;
}

.item_info {
  float: left;
}

.main_menu {
  float: right;
  /** подсвечиваем ссылка */
  /* прячем активную ссылку */
}
.main_menu .menu_link {
  position: relative;
  font-size: 16px;
  font-family: ProximaNovaSemiBold;
}
.main_menu .menu_link__active:after, .main_menu .menu_link:hover:after {
  content: "";
  display: block;
  background: url(../images/pointer.png) 50% 100% no-repeat;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 25px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.main_menu:hover .menu_link__active:after {
  background: none;
}

.footer_wrapper {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 14px;
  display: table;
  width: 100%;
}

/** левое меню */
.footer_menu {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}
.footer_menu .menu_link {
  font-family: ProximaNovaLight;
}

/** группа иконок соц сетей */
.social_group {
  vertical-align: middle;
  display: table-cell;
}

.social_button {
  height: 40px;
  width: 40px;
  background: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin: 0 5px;
  border-radius: 20px;
  float: left;
}
.social_button.twitter {
  background-image: url(../images/icons/social/twitter.png);
}
.social_button.facebook {
  background-image: url(../images/icons/social/facebook.png);
}
.social_button.pinterest {
  background-image: url(../images/icons/social/pinterest.png);
}
.social_button.google {
  background-image: url(../images/icons/social/google.png);
}

/** дополнительная информация */
.right_info {
  display: table-cell;
  text-align: right;
  font-family: ProximaNovaLight;
  vertical-align: bottom;
}

.copyright:before {
  content: "\00a9";
  color: #bcbcbc;
}

@media screen and (min-width: 395px) and (max-width: 715px) {
  .container {
    width: 300px;
  }

  .items_row {
    width: 300px;
    right: 0;
    position: relative;
  }

  .quote {
    font-size: 18px;
  }

  .footer_menu .menu_item {
    display: block;
    margin-left: 0;
  }
}
@media screen and (min-width: 715px) and (max-width: 1035px) {
  .container {
    width: 620px;
  }

  body {
    overflow-x: hidden;
  }

  .items_row {
    width: 640px;
    right: 10px;
    position: relative;
  }

  .menu_item {
    margin-left: 22px;
  }
}
@media screen and (min-width: 1035px) and (max-width: 1355px) {
  .container {
    width: 940px;
  }

  body {
    overflow-x: hidden;
  }

  .items_row {
    width: 960px;
    right: 10px;
    position: relative;
  }
}
@media screen and (min-width: 1355px) and (max-width: 1675px) {
  .container {
    width: 1260px;
  }

  body {
    overflow-x: hidden;
  }

  .items_row {
    width: 1280px;
    right: 10px;
    position: relative;
  }
}
@media screen and (min-width: 1675px) {
  .container {
    width: 1580px;
  }

  body {
    overflow-x: hidden;
  }

  .items_row {
    width: 1600px;
    right: 10px;
    position: relative;
  }
}
.header {
  padding: 30px 0;
}

.menu_align {
  margin: 10px 0;
}

/* каскад */
.menu_item__interval_small {
  margin-left: 30px;
}

.large_btn {
  margin: 50px auto;
  display: block;
  background: #86c840;
  border: none;
  border-radius: 3px;
  padding: 12px 55px 12px 30px;
  color: white;
  text-shadow: 0 1px 2px #57b227;
  position: relative;
  font-size: 12px;
}

.large_btn:after {
  content: url(../images/arrow_img.png);
  position: absolute;
  right: 30px;
}
