body{
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

p{
  margin: 0;
}

@import "./fonts";
@import "./icons";
@import "./cf";
@import "./menu-list";
@import "./content/title";
@import "./content/quote";
@import "./content/tiles";
@import "./header/main_menu";
@import "./footer/footer";
@import "./_media";

.header{
  padding: 30px 0;
}

.menu_align{
  margin: 10px 0;
}

/* каскад */
.menu_item__interval_small{
  margin-left: 30px;
}

.large_btn{
  margin: 50px auto;
  display: block;
  background: rgb(134,200,64);
  border: none;
  border-radius: 3px;
  padding: 12px 55px 12px 30px;
  color: white;
  text-shadow: 0 1px 2px rgba(87,178,39,1);
  position: relative;
  font-size: 12px;
}
.large_btn:after{
  content: url(../images/arrow_img.png);
  position: absolute;
  right: 30px;
}


