.quote_bg{
  background: #f1f1f1;
  width: 200%;
  margin-left: -50%;
  overflow: hidden;
}

.quote_wrapper{
  width: 50%;
  margin: auto;
}

.quote{
  text-align: center;
  font-size: 28px;
  font-family: ProximaNovaLight;

  /** место под картинку и отступ */
  padding: 40px (45px + 60px);
}

.quotes{
  position: relative;

  &:before, &:after{
    content:"";
    display: inline-block;
    background-color: rgb(134, 200, 64);
    height: 45px;
    width: 45px;

    // offset'ы как то криво ставятся, не ясно из за чего, пока что из за этого не получится в смарт режим перейти
    @include icons-sprite(quote_img);
    @include sprite-background-position(sprite-map("icons/*.png"), quote_img, 10, -4);

    position: absolute;
    border-radius: 23px;
  }

  &:before{
    top: 45px;
    left: 0;
  }

  &:after{
    bottom: 47px;
    right: 0;
    transform: rotate(180deg)
  }
}