.footer{
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 14px;
  line-height: 14px;
  display: table;
  width: 100%;
}

.footer_menu{
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

/** группа иконок соц сетей */
.footer_social{
  display: table-cell;
  width: 200px;
  text-align: center;
}

.footer_social_group{
  display: inline-block;
}

/** дополнительная информация */
.footer_copyright{
  display: table-cell;
  text-align: right;
  font-family: ProximaNovaSemiBold;
  vertical-align: middle;
  width: 30%;

  &:before{
    content: "\00a9";
    color: #BCBCBC;
  }
}