@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

.home_icon:before{
  content: "";
  display: inline-block;
  vertical-align: baseline;
  height: icons-sprite-height(home);
  width: icons-sprite-width(home);
  @include icons-sprite(home);
}

.icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  right: 5px;
}

.icon_eye:before{
  height: icons-sprite-height(eye);
  width: icons-sprite-width(eye);
  @include icons-sprite(eye);
}

.icon_comment:before{
  height: icons-sprite-height(comment);
  width: icons-sprite-width(comment);
  @include icons-sprite(comment);
}

.icon_download:before{
  height: icons-sprite-height(download);
  width: icons-sprite-width(download);
  @include icons-sprite(download);
}
