body{
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

p {
  margin: 0;
}

@import "./base";
@import "./fonts";
@import "./icons";
@import "./cf";
@import "./menu-list";
@import "./content/title";
@import "./content/quote";
@import "./content/tiles";
@import "./content/button";
@import "./header/main_menu";
@import "./footer/footer";
@import "./_media";

.header{
  padding: 30px 0;
}

.menu_align{
  margin: 10px 0;
}

/* каскад */
.menu_item__interval_small{
  margin-left: 30px;
}




